InfonetPos.FcsIntegration/packages/
InfonetPos.FcsIntegration/bin/
InfonetPos.FcsIntegration/.vs/
InfonetPos.FcsIntegration/obj/
InfonetPos.FcsIntegration/InfonetPos.FcsIntegration.csproj.user
.vs/
packages/
